<h1><%= @employee.first_name %></h1><br>
<%= image_tag(@employee.img_url)%><br>
<h3>Alias:</h3> <%= @employee.alias %><br>
<h3>Job Title:</h3> <%= @employee.title %><br>
<h3>Office:</h3> <%= @employee.office %>
<h3>Dog Owned:</h3> <%= @employee.dog.name %><br>


