<h2>Employee info</h2>

<p>Name: <%= @employee.name %> </p>
<p>Alias: <%= @employee.alias %> </p>
<p>Title: <%= @employee.title %> </p>
<p>Office: <%= @employee.office %> </p>
<p>Dog: <%= @employee.dog.name %> </p>

add picture?