<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
<h2>Attributes:</h2>
<ul>
    <li><h3>Alias: <%= @employee.alias %></h3></li>
    <li><h3>Title: <%= @employee.title %></h3></li>
    <li><h3>Office: <%= @employee.office %></h3></li>
</ul>

<img src=<%= @employee.img_url %> alt="Dunder Mifflin Picture" height="250" width="400"> 