<h2>Details for <%= @employee.to_s %></h2>

<img src="<%= @employee.img_url%>" alt="A picture of <%= @employee.to_s %>"> <br><br>

Name: <%= @employee.to_s %> <br><br>

Alias: <%= @employee.alias %> <br><br>

Title: <%= @employee.title %> <br><br>

Office: <%= @employee.office %> <br><br>

Dog: <%= @employee.dog.name %> <br><br>



