<h1>Show Employee</h1>
<p><%= @employee.first_name %></p><br>
<p><%= @employee.last_name %></p><br>
<p><%= @employee.alias %></p><br>
<p><%= @employee.title %></p><br>
<p><%= @employee.office %></p><br>
<p><%= image_tag(@employee.img_url) %></p><br>
