<h1>Name: <%= @employee.name %> </h1>
<h3>Alias: <%= @employee.alias %> </h3>
<h3>Title: <%= @employee.title %> </h3>
<h3>Office: <%= @employee.office %> </h3>
<h3>Dog <%= @employee.dog %> </h3>
<h3> <%= image_tag (@employee.img_url) if @employee.img_url  %> </h3>


