<%= content_tag(:h1, @employee.full_name) %>
<img src="<%= @employee.img_url %>">
<br>

<ul>
  <li>Name: <%= @employee.full_name %></li>
  <li>Alias: <%= @employee.alias %></li>
  <li>Title: <%= @employee.title %></li>
  <li>Office: <%= @employee.office %></li>
  <li>Dog: <%= @dog.name %></li>
</ul>